/* Global */
.bornContainer {
    margin: auto;
    background-color: white;
}

/* Boxes */
.boxesContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.boxContainer {
    width: 45%;
}

.boxName {
    text-align: center;
    font-size: 4vw;
    margin: 0;
}

.boxImg {
    width: 100%;
    margin: auto;
    border: 0.1vw solid rgb(171, 171, 171);
}