/* Global */
.bornContainer {
    margin: auto;
    background-color: white;
    margin-bottom: 10vh;
}

/* Boxes */
#boxesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15vh;
    background-image: url('../../assets/img/texture-blanc.png');
    min-height: 100vh;

}

.boxContainer {
    width: 42%;
    margin: 4% 1.5%;
}

.boxName {
    color: black;
    text-align: center;
    font-size: 4vw;
    margin: 0;
    font-family: 'YujiBoku';
}

.boxImg {
    width: 100%;
    margin: auto;
    border-radius: 0.9vw;
}

.buttonAdd {
    margin: 0 0.4vw;
    cursor: pointer;
}

/* Filter */
#filterContainer {
    position: fixed;
    top: 20vh;
    left: 0;
    overflow: hidden;
    padding: 0.5vw;
    z-index: 10;
    background-color: rgb(221, 221, 221);
    transition-duration: 1000ms;
    font-family: 'Alegreya';
    font-size: 1.1em;
}

.showFilter {
    width: 8vw;
    height: 25vw;
}

.hideFilter {
    width: 2vw;
    height: 2.5vw;
}

.filterRow {
    padding: 0.5vw;
}

.prix{
    color: black;
    font-weight: 700;
    font-size: 1.7vw;
    font-family: 'Alegreya';
}

.buttonAddContainer{
    align-items: center;
}

.boxesLink{
    text-decoration: none;
}

@font-face {
    font-family: 'YujiBoku';
    src: url('../../assets/Fonts/YujiBoku-Regular.ttf');
}

@font-face {
    font-family: 'Alegreya';
    src: url('../../assets/Fonts/Alegreya-VariableFont_wght.ttf');
}

.nbr{
    color: black;
    font-family: 'YujiBoku';
    font-size: 1.2em;
}