<app-header></app-header>
<a routerLink="/boxes"><img id="arrow" src="./../assets/img/right-arrow.png"></a>
<section id="detailsBox">
    <img src="" alt="">
    <div id="imageBoxContainer">
        <h1 class="title">{{ getDetailsBox().box.name }}</h1>
        <img id="imageBox" src="../../assets/img/{{ getDetailsBox().box.image }}">
    </div>
    <hr>
    <div id="detailsBoxText">
        <div>
            <h2>Saveurs</h2>
            <div class="ingredientsContainer">
                <ul *ngFor="let flavor of getDetailsBox().box.flavor">
                    <li>{{flavor.name}}</li>
                    <li>{{flavor.name}}</li>
                    <li>{{flavor.name}}</li>
                    <li>{{flavor.name}}</li>
                    <li>{{flavor.name}}</li>
                    <li>{{flavor.name}}</li>
                </ul>
            </div>
        </div>
        <div>
            <h2>Aliments</h2>
            <div class="ingredientsContainer">
                <ul *ngFor="let aliment of getDetailsBox().box.aliment">
                    <li>{{aliment.name}}</li>
                </ul>
            </div>
        </div>
        <button id="addBox" (click)="addItem(getDetailsBox().box)">Ajouter</button>
    </div>
</section>
<!-- <app-footer></app-footer> -->