<a class="noDeco" routerLink="/boxes">
    <img id="bgTop" src="../../assets/img/Rectangle 18.png">
    <div id="header">
        <hr id="ligne1">
        <div id="textHeader">
            <p id="welcome">Bienvenue</p>
            <p id="title">Nagashima</p>
        </div>
        <hr id="ligne2">     
    </div>
    <img id="logo" src="../../assets/img/croix.png">
    <h1 class="noDeco" id="start">Appuyez pour commander</h1>
    <img id="bgBottom" src="../../assets/img/Rectangle 18.png">
    <a routerLink="/rgpd" id="rgpd">RGPD</a>
</a>