<app-header></app-header>
<div class="RGPD">
  <!-- Introduction -->
  <h1 class="titleRGPD">Politique de confidentialité</h1>
  <div class="dateRGPD">Date de dernière mise à jour : 18/03/2024</div>
  <p class="text">
    Bienvenue sur l'application de commande Nagashima. Nous nous engageons à
    protéger votre vie privée et à assurer la sécurité de vos données
    personnelles. Cette politique de confidentialité explique comment nous
    collectons, utilisons et protégeons vos informations lorsque vous utilisez
    notre application pour passer une commande dans notre restaurant.
  </p>

  <!-- Partie 1 -->
  <h2 class="subTitleRGPD">1. Collecte de données personnelles</h2>
  <p class="text">
    Lorsque vous utilisez notre application, nous pouvons collecter les données
    personnelles suivantes :
  </p>
  <ul>
    <li>Informations de paiement</li>
    <li>Historique des commandes</li>
    <li>Préférences alimentaires ou restrictions</li>
  </ul>
  <p class="text">
    Nous collectons ces données dans le but de faciliter le processus de
    commande, de personnaliser votre expérience utilisateur et de répondre à vos
    demandes.
  </p>

  <!-- Partie 2 -->
  <h2 class="subTitleRGPD">2. Utilisation des données personnelles</h2>
  <p class="text">
    Nous ne partagerons pas vos données personnelles avec des tiers, sauf dans
    les cas suivants :
  </p>
  <ul>
    <li>Pour traiter vos commandes et paiements</li>
    <li>Pour améliorer et personnaliser votre expérience utilisateur</li>
    <li>
      Pour communiquer avec vous concernant vos commandes ou pour répondre à vos
      questions
    </li>
    <li>Pour respecter nos obligations légales</li>
  </ul>

  <!-- Partie 3 -->
  <h2 class="subTitleRGPD">3. Partage des données personnelles</h2>
  <p class="text">
    Nous ne partagerons pas vos données personnelles avec des tiers, sauf dans
    les cas suivants :
  </p>
  <ul>
    <li>Avec votre consentement</li>
    <li>
      Si nécessaire pour fournir nos services (par exemple, avec le restaurant
      pour préparer votre commande)
    </li>
    <li>Pour nous conformer aux obligations légales</li>
  </ul>
  <p class="text">
    Nous ne vendrons ni ne louerons jamais vos données personnelles à des tiers.
  </p>

  <!-- Partie 4 -->
  <h2 class="subTitleRGPD">4. Sécurité des données</h2>
  <p class="text">
    Nous mettons en place des mesures de sécurité techniques et
    organisationnelles pour protéger vos données personnelles contre tout accès
    non autorisé, toute utilisation abusive, toute divulgation ou toute
    altération.
  </p>

  <!-- Partie 5 -->
  <h2 class="subTitleRGPD">5. Vos droits</h2>
  <p class="text">Vous avez le droit de :</p>
  <ul>
    <li>Accéder à vos données personnelles que nous détenons</li>
    <li>
      Demander la rectification de vos données personnelles si elles sont
      inexactes ou incomplètes
    </li>
    <li>Demander l'effacement de vos données personnelles</li>
    <li>Vous opposer au traitement de vos données personnelles</li>
    <li>Demander la limitation du traitement de vos données personnelles</li>
    <li>Porter plainte auprès d'une autorité de contrôle compétente</li>
  </ul>

  <!-- Partie 6 -->
  <h2 class="subTitleRGPD">
    6. Modifications de la politique de confidentialité
  </h2>
  <p class="text">
    Nous nous réservons le droit de modifier cette politique de confidentialité
    à tout moment. Toute modification sera publiée sur cette page avec une date
    de mise à jour.
  </p>

  <!-- Partie 7 -->
  <h2 class="subTitleRGPD">7. Contactez-nous</h2>
  <p class="text">
    Si vous avez des questions concernant notre politique de confidentialité ou
    le traitement de vos données personnelles, veuillez nous contacter à
    l'adresse suivante : nagashima&commat;sushi.com ou 5 rue de
    Pétin, Paris.
  </p>
</div>
